<div bsModal #modalMovimentarConfirmacao="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title pull-left">Registrar novo Movimento</h4>
        <button type="button" class="close pull-right" (click)="modalMovimentarConfirmacao.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="movimentacaoForm" (submit)="onSubmit()">

        <div class="modal-body">
          <div class="clearfix"></div>

          <div class="col-md-offset-2 col-md-8">

            <div class="col-md-6">
              <label for="recurso-id">Recurso Id</label>
              <input required type="number" min="0" class="form-control" id="recurso-id" formControlName="recursoId" />
            </div>

            <div class="col-md-6">
              <label for="recurso-tipo-movimentacao">Tipo da Movimentação</label>
              <select class="form-control" formControlName="tipoMovimento" id="recurso-tipo-movimentacao" required>
              <option value="0">Entrada</option>
              <option value="1">Saida</option>
            </select>
            </div>

            <div class="col-md-6">
              <label for="recurso-quantidade">Quantidade para Movimentar</label>
              <input required type="number" min="0" class="form-control" id="recurso-quantidade" formControlName="quantidade" />
            </div>

            <div class="col-md-6">
              <label for="recurso-responsavel">Responsável</label>
              <input required type="text" class="form-control" id="recurso-responsavel" formControlName="responsavel" />
            </div>

          </div>

          <div class="clearfix"></div>

        </div>

        <div class="modal-footer">
          <button appLoadingButton type="button" class="btn btn-default" (click)="modalMovimentarConfirmacao.hide()">Voltar</button>
          <button appLoadingButton type="submit" class="btn btn-success float-rigth" [disabled]="movimentacaoForm.pristine || !movimentacaoForm.valid ">Movimentar</button>
        </div>
      </form>

    </div>
  </div>
</div>