<div class="panel panel-default">

  <div class="panel-heading">
    <p class="page-title">
      Movimentação de Recursos
    </p>
  </div>

  <div class="panel-body">

    <form [formGroup]="movimentacaoForm">

      <div class="row">

        <div class="col-md-3">
          <label for="recurso-id">Recurso Id</label>
          <input type="number" min="0" class="form-control" id="recurso-id" formControlName="recursoId" />
        </div>

        <div class="col-md-2">
          <label for="recurso-tipo-movimentacao">Tipo da Movimentação</label>
          <select class="form-control" formControlName="tipoMovimento" id="recurso-tipo-movimentacao">
          <option value=""></option>
          <option value="0">Entrada</option>
          <option value="1">Saida</option>
        </select>
        </div>

        <div class="col-md-4">
          <label for="recurso-responsavel">Responsável</label>
          <input type="text" class="form-control" id="recurso-responsavel" formControlName="responsavel" />
        </div>

        <div class="col-md-3">
          <div class="input-group button-form-group">
            <div class="input-group-btn">
              <button appLoadingButton type="button" class="btn btn-info" (click)="onBuscar()">
              <i class="fa fa-search"></i> Buscar
            </button>

              <button appLoadingButton type="button" class="btn btn-success" (click)="onNovo()">
              <i class="fa fa-plus"></i> Movimentar
            </button>
            </div>
          </div>
        </div>

      </div>
    </form>

  </div>

</div>

<table *ngIf="movimentos.length > 0" class="table dataTable table-bordered table-hover table-base">
  <thead>
    <tr class="">
      <th class="text-center">#</th>
      <th class="text-center">Recurso</th>
      <th class="text-center">Responsável</th>
      <th class="text-center">Tipo da Movimentação</th>
      <th class="text-center">Quantidade Movimentada</th>
      <th class="text-center">Data Movimentação</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let movimento of movimentos" [ngClass]="(movimento.tipoMovimento == 0) ? 'success' : 'danger'">
      <td class="text-center">{{movimento.id}}</td>
      <td class="text-center">{{movimento.recursoId}} - {{movimento.recursoDescricao}}</td>
      <td class="text-center">{{movimento.responsavel}}</td>
      <td class="text-center">{{_TipoMovimento[movimento.tipoMovimento]}}</td>
      <td class="text-center">{{(movimento.tipoMovimento == _TipoMovimento["ENTRADA"]) ? "+" : "-"}} {{movimento.quantidade}}</td>
      <td class="text-center">{{movimento.data | date:'dd/MM/yyyy'}}</td>
    </tr>
  </tbody>
</table>

<app-movimentacao-recurso [open]="movimentarModalOpen" (close)="onModalMovimentarClose()"></app-movimentacao-recurso>