@import "node_modules/ladda/css/ladda";
@import 'node_modules/ngx-toastr/toastr';

.page-title {
    text-transform: uppercase;
    font-size: 19px;
    font-weight: bolder;
    width: 100%;
    margin: 0px;
}

.button-form-group {
    margin-top: 25px;
}

tr {
    cursor: pointer;
}

.float-rigth {
    float: right;
    margin-left: 10px;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}
.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}