<div class="panel panel-default">

  <div class="panel-heading">
    <p class="page-title">
      {{(id) ? "Editar" : "Cadastrar"}} Recurso
    </p>
  </div>

  <form *ngIf="isVisualize" [formGroup]="recursoForm" novalidate (ngSubmit)="modalCriarConfirmacao.show()">
    <div class="panel-body">

      <div class="row col-md-offset-2">

        <div class="col-md-2">
          <label for="">Id</label>
          <input required disabled class="form-control" formControlName="id" />
        </div>

        <div class="col-md-4">
          <label for="recurso-descricao">Descrição</label>
          <input required type="text" class="form-control" id="recurso-descricao" formControlName="descricao" />
        </div>

        <div class="col-md-3">
          <label for="recurso-quantidade">Quantidade disponível</label>
          <input required disabled class="form-control" formControlName="quantidade" />
        </div>
      </div>

      <div class="row">

        <div class="col-md-12">
          <label for="recurso-observacao">Observação</label>
          <input type="text" class="form-control" id="recurso-observacao" formControlName="observacao" />
        </div>
      </div>

    </div>

    <div class="panel-footer">
      <button appLoadingButton type="button" class="btn btn-default" (click)="onBack()">Voltar</button>
      <button appLoadingButton type="submit" class="btn btn-success float-rigth" [disabled]="recursoForm.pristine || !recursoForm.valid ">{{(id) ? 'Editar' : 'Cadastrar'}}</button>
      <button *ngIf="id" appLoadingButton type="button" class="btn btn-danger float-rigth" (click)="modalDeletarConfirmacao.show()">Deletar</button>
    </div>
  </form>

</div>

<div bsModal #modalCriarConfirmacao="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Confirmação</h4>
        <button type="button" class="close pull-right" (click)="modalCriarConfirmacao.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Você deseja realmente {{(id) ? "Editar" : "Cadastrar"}} o recurso {{nomeCompleto}}?</p>
        <button appLoadingButton class="btn btn-default" (click)="modalCriarConfirmacao.hide()">Não</button>
        <button appLoadingButton class="btn btn-success float-rigth" (click)="onSubmit()">Sim</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #modalDeletarConfirmacao="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Confirmação</h4>
        <button type="button" class="close pull-right" (click)="modalDeletarConfirmacao.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Você deseja realmente deletar o recurso {{nomeCompleto}}?</p>
        <button appLoadingButton class="btn btn-default" (click)="modalDeletarConfirmacao.hide()">Não</button>
        <button appLoadingButton class="btn btn-danger float-rigth" (click)="onDelete()">Sim</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #modalSairConfirmacao="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Confirmação</h4>
        <button type="button" class="close pull-right" (click)="modalSairConfirmacao.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Houve modificação no recurso. Você realmente deseja sair?</p>
        <button class="btn btn-default" (click)="modalSairConfirmacao.hide()">Não</button>
        <button class="btn btn-warning float-rigth" (click)="router.navigate(['/Recursos'])">Sim</button>
      </div>
    </div>
  </div>
</div>