<div class="panel panel-default">
  <div class="panel-heading">
    <p class="page-title">
      Recursos
    </p>
  </div>

  <div class="panel-body">
    <div class="col-md-10 col-md-offset-1">

      <div class="form-group col-md-2">
        <label for="recurso-id" class="control-label">Id</label>
        <input type="number" min="0" name="recurso-id" class="form-control" [(ngModel)]="recursoSearch.id">
      </div>

      <div class="form-group col-md-7">
        <label for="recurso-descricao" class="control-label">Descrição</label>
        <input type="text" name="recurso-descricao" class="form-control" [(ngModel)]="recursoSearch.descricao">
      </div>

      <div class="col-md-3 button-form-group">
        <div class="input-group">
          <div class="input-group-btn">
            <button appLoadingButton type="button" class="btn btn-info" (click)="onBuscar()">
              <i class="fa fa-search"></i> Buscar
            </button>
            
            <button appLoadingButton type="button" class="btn btn-success" (click)="onNovo()">
              <i class="fa fa-plus"></i> Novo
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<app-table-base *ngIf="recursos.length > 0" [columns]="columns" [data]="recursos" 
                (onRowClick)="handleRowClick($event)"></app-table-base>
