<ng-table [config]="config" 
          (tableChanged)="onChangeTable(config)" 
          (cellClicked)="onCellClick($event)" 
          [rows]="rows" [columns]="columns">>
</ng-table>

<pagination *ngIf="config.paging"
            class="pagination-sm"
            [(ngModel)]="page"
            [totalItems]="length"
            [itemsPerPage]="itemsPerPage"
            [maxSize]="maxSize"
            [boundaryLinks]="true"
            [rotate]="false"
            (pageChanged)="onChangeTable(config, $event)"
            (numPages)="numPages = $event"
            firstText="<<"
            lastText=">>"
            nextText=">"
            previousText="<"
            >
</pagination>