<div class="jumbotron">
  <h1>Zombie Sources</h1>
  <p>Projeto feito com Angular 4.0 no Front-End e .NET Core 1.1 no Back-End</p>
  <p>Conceitos utilizados para a realização do projeto:</p>
  <ul>
    <li>HTML</li>
    <li>CSS</li>
    <li>Typescript</li>
    <li>.NET Core</li>
    <li>Entity Framework Core</li>
    <li>Unit Of Work e Repository</li>
    <li>Code First</li>
    <li>Injeção de Dependencia</li>
    <li>Azure</li>
  </ul>

  <p>Autor: Thiago Maia da Costa - <i>thiago.maia971@gmail.com</i> </p>
  <a class="fa fa-github icon" aria-hidden="true" href="https://github.com/thiagomaia971" target="_blank"></a> <a class="fa fa-bitbucket icon" href="https://bitbucket.org/thiagomaia971/tech-test" target="_blank"> </a>
</div>